$couleur-principale: #0077B6;
$couleur-principale-dark: #003552;
$couleur-secondaire: #FF7F11;
$couleur-options: #b3001b;
$couleur-fond: #483c46;
$couleur-texte: #ffffff;
$couleur-fond-carte: #415561;
$couleur-bordure-cartes: #f1f1f1;
$couleur-prix: #ffe000;

//Couleurs des état des produits

$neuf: #90EE90;
$reconditionne: #d8fb98;
$proche_du_neuf: #ADFF2F;
$bon_etat: #FFFF00;
$etat_correct: #FFA500;
$etat_moyen: #FF4500;
$mauvais_etat: #FF0000;