@import "colors";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

a {
  color: $couleur-principale;
}

a::hover {
  color: $couleur-secondaire;
}