h2.titre-h2-accueil {
  max-width: 350px;
}

//Highlight

.highlight {
  height: 40vh;
}

//Tuiles informations

.calltoaction {
  margin-top: -40px !important;
  background-color: $couleur-texte;
  padding-top: 15px;
  border-radius: 12px;

  img {
    border-radius: 15px;
    width: 100%;
  }
}

/* Boucle nouveautées accueil */

.titre-h2-accueil {
  background-color: $couleur-principale;
  padding: 5px 2px;
  margin: 20px 0;
  border-radius: 0rem 1rem 1rem 0rem;
  color: $couleur-texte;
  border-style: outset;
  border-color: $couleur-principale-dark;
}

.nouveautees-produits {

  padding: 0 !important;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.product-item {
  span.woocommerce-Price-amount.amount {
    color: $couleur-principale-dark !important;
    background-color: $couleur-prix;
    padding: 4px;
    border-radius: 8px;
  }

  width: inherit;
  margin: 0 0.5rem;
  background: $couleur-fond-carte;
  border-radius: 1rem;
  padding: 10px;
  border-style: solid;
  border-color: $couleur-bordure-cartes;
  box-shadow: 4px 4px 10px rgb(0 0 0 / 52%);
}

.product-item h3 {

  a {
    font-size: 15px;
    color: $couleur-texte;
    font-weight: 200;
  }
}

.product-excerpt {
  padding: 10px;
  color: $couleur-texte;
}

.product-price {}

.product-price ins {
  text-decoration: none;
}

del {}

del .woocommerce-Price-amount {}

.product-image img {
  height: 14rem;
  width: 100%;
  object-fit: cover;
  border-style: solid;
  border-color: $couleur-bordure-cartes;
}

.product-title a {
  text-decoration: none;
  color: $couleur-secondaire;
  font-size: x-large;
}

span.woocommerce-Price-amount.amount {
  font-size: larger;
  font-weight: 600;
}

// Boucle nouveautées liste

.liste-nouveautees h3 {
  color: $couleur-principale;
}

.liste-nouveautees {
  margin-bottom: 20px;
}

.titre-liste {
  text-align: center;
}

.liste-nouveautees p {
  text-align: center;
  margin: 0;
}

.button {
  text-align: center;
}

a.button {
  border-style: solid;
  padding: 3px 5px;
  border-radius: 17px;
  border-color: $couleur-principale-dark;
  background-color: $couleur-principale;
  color: $couleur-texte !important;
  transition: transform 0.2s ease-in-out;
}

a.button:hover {
  border-color: $couleur-secondaire;
  transform: translateX(10px);
}

.col-5 a:hover {
  font-weight: 700;
}

.liste-nouveautees .col-1 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.liste-nouveautees .col-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.liste-nouveautees a {
  font-weight: 600;
  text-decoration: none;
  color: $couleur-secondaire;
}

.liste-nouveautees .row {
  border-style: solid;
  border-top: none;
  border-color: $couleur-principale-dark !important;
  align-items: center;
  padding: 6px 0;
}

p.prix {
  margin: 0;
}

p.etat {
  margin: 0;
}

p.stock {
  margin: 0;
}

.titre-liste {
  border-style: solid;
  border-top: solid !important;
}

.titre-liste.row {
  border-radius: 10px 10px 0 0;
}

// COULEURS DES ÉTATS DU TABLEAU

.etatduproduit-neuf {
  background-color: $neuf;
  font-weight: 700;
  border-radius: 13px;
}

.etatduproduit-reconditionne {
  background-color: $reconditionne;
  font-weight: 700;
  border-radius: 13px;
}

.etatduproduit-proche-du-neuf {
  background-color: $proche_du_neuf;
  font-weight: 700;
  border-radius: 13px;
  font-size: 15px;
}

.etatduproduit-bon-etat {
  background-color: $bon_etat;
  font-weight: 700;
  border-radius: 13px;
}

.etatduproduit-etat-correct {
  background-color: $etat_correct;
  font-weight: 700;
  border-radius: 13px;
}

.etatduproduit-etat-moyen {
  background-color: $etat_moyen;
  font-weight: 700;
  border-radius: 13px;
  color: $couleur-texte;
}

.etatduproduit-mauvais-etat {
  background-color: $mauvais_etat;
  font-weight: 700;
  border-radius: 13px;
  color: $couleur-texte;
}

// CALL TO ACTION MIDDLE

.call-to-action {
  background-color: $couleur-principale-dark;
  padding-bottom: 20px;
  border-style: solid;
  border-color: $couleur-secondaire;

  .row {
    margin: 0;
  }
}

.call-to-action .col-2 img {
  background-color: #0077B6;
  border-radius: 70px;
  border-style: solid;
  border-color: #ffffff;
  box-shadow: inset 2px 2px 16px rgb(0 0 0 / 50%);
}

.call-to-action h2 {
  text-align: center;
  margin: 0;
  color: $couleur-texte;
  margin: 20px 0 20px 0;
}

// HISTOIRE DU SITE

.histoire-ludocaz {
  padding-bottom: 20px;
}

.photo-profil-apropos img {
  max-width: 300px;
  border-radius: 0 10px 0 10px;
}