@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

a {
  color: #0077B6;
}

a::hover {
  color: #FF7F11;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
}

.prix {
  font-family: "Lato", sans-serif;
}

form.woocommerce-cart-form {
  margin-top: 2rem;
}

td.product-thumbnail img {
  max-width: 7rem;
}

input#coupon_code {
  width: 10rem;
}

button.button.wp-element-button {
  border: 0.1rem !important;
  border-style: solid !important;
  color: #0077B6 !important;
}

button.button.wp-element-button:hover {
  border: 0.1rem !important;
  border-style: solid !important;
  color: #FF7F11 !important;
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  background-color: #e0e0e0 !important;
}

.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
  background-color: #0077B6 !important;
}

.is-layout-flow.wp-block-column:first-child {
  flex-basis: 15% !important;
  padding: 20px;
}

.is-layout-flow.wp-block-column {
  flex-basis: 85% !important;
  padding: 20px;
}

h2.titre-h2-accueil {
  max-width: 350px;
}

.highlight {
  height: 40vh;
}

.calltoaction {
  margin-top: -40px !important;
  background-color: #ffffff;
  padding-top: 15px;
  border-radius: 12px;
}

.calltoaction img {
  border-radius: 15px;
  width: 100%;
}

/* Boucle nouveautées accueil */
.titre-h2-accueil {
  background-color: #0077B6;
  padding: 5px 2px;
  margin: 20px 0;
  border-radius: 0rem 1rem 1rem 0rem;
  color: #ffffff;
  border-style: outset;
  border-color: #003552;
}

.nouveautees-produits {
  padding: 0 !important;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.product-item {
  width: inherit;
  margin: 0 0.5rem;
  background: #415561;
  border-radius: 1rem;
  padding: 10px;
  border-style: solid;
  border-color: #f1f1f1;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.52);
}

.product-item span.woocommerce-Price-amount.amount {
  color: #003552 !important;
  background-color: #ffe000;
  padding: 4px;
  border-radius: 8px;
}

.product-item h3 a {
  font-size: 15px;
  color: #ffffff;
  font-weight: 200;
}

.product-excerpt {
  padding: 10px;
  color: #ffffff;
}

.product-price ins {
  text-decoration: none;
}

.product-image img {
  height: 14rem;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-style: solid;
  border-color: #f1f1f1;
}

.product-title a {
  text-decoration: none;
  color: #FF7F11;
  font-size: x-large;
}

span.woocommerce-Price-amount.amount {
  font-size: larger;
  font-weight: 600;
}

.liste-nouveautees h3 {
  color: #0077B6;
}

.liste-nouveautees {
  margin-bottom: 20px;
}

.titre-liste {
  text-align: center;
}

.liste-nouveautees p {
  text-align: center;
  margin: 0;
}

.button {
  text-align: center;
}

a.button {
  border-style: solid;
  padding: 3px 5px;
  border-radius: 17px;
  border-color: #003552;
  background-color: #0077B6;
  color: #ffffff !important;
  transition: transform 0.2s ease-in-out;
}

a.button:hover {
  border-color: #FF7F11;
  transform: translateX(10px);
}

.col-5 a:hover {
  font-weight: 700;
}

.liste-nouveautees .col-1 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.liste-nouveautees .col-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.liste-nouveautees a {
  font-weight: 600;
  text-decoration: none;
  color: #FF7F11;
}

.liste-nouveautees .row {
  border-style: solid;
  border-top: none;
  border-color: #003552 !important;
  align-items: center;
  padding: 6px 0;
}

p.prix {
  margin: 0;
}

p.etat {
  margin: 0;
}

p.stock {
  margin: 0;
}

.titre-liste {
  border-style: solid;
  border-top: solid !important;
}

.titre-liste.row {
  border-radius: 10px 10px 0 0;
}

.etatduproduit-neuf {
  background-color: #90EE90;
  font-weight: 700;
  border-radius: 13px;
}

.etatduproduit-reconditionne {
  background-color: #d8fb98;
  font-weight: 700;
  border-radius: 13px;
}

.etatduproduit-proche-du-neuf {
  background-color: #ADFF2F;
  font-weight: 700;
  border-radius: 13px;
  font-size: 15px;
}

.etatduproduit-bon-etat {
  background-color: #FFFF00;
  font-weight: 700;
  border-radius: 13px;
}

.etatduproduit-etat-correct {
  background-color: #FFA500;
  font-weight: 700;
  border-radius: 13px;
}

.etatduproduit-etat-moyen {
  background-color: #FF4500;
  font-weight: 700;
  border-radius: 13px;
  color: #ffffff;
}

.etatduproduit-mauvais-etat {
  background-color: #FF0000;
  font-weight: 700;
  border-radius: 13px;
  color: #ffffff;
}

.call-to-action {
  background-color: #003552;
  padding-bottom: 20px;
  border-style: solid;
  border-color: #FF7F11;
}

.call-to-action .row {
  margin: 0;
}

.call-to-action .col-2 img {
  background-color: #0077B6;
  border-radius: 70px;
  border-style: solid;
  border-color: #ffffff;
  box-shadow: inset 2px 2px 16px rgba(0, 0, 0, 0.5);
}

.call-to-action h2 {
  text-align: center;
  margin: 0;
  color: #ffffff;
  margin: 20px 0 20px 0;
}

.histoire-ludocaz {
  padding-bottom: 20px;
}

.photo-profil-apropos img {
  max-width: 300px;
  border-radius: 0 10px 0 10px;
}

.logo-menu-search.row.align-items-center {
  position: sticky;
  margin: 0;
  top: 0;
  z-index: 1;
  background-color: #003552;
}

.annonces {
  align-items: center !important;
  top: 6rem;
}

.logo-site {
  display: flex;
  justify-content: center;
  padding: 4px 0;
}

.logo-site-img {
  max-height: 6rem;
}

.header-menu {
  text-align: center;
}

#menu-menu-principal {
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu-menu-principal li {
  list-style: none;
  font-weight: 600;
  padding: 0 2rem;
  width: auto;
}

#menu-menu-principal a {
  text-decoration: none;
  color: #ffffff;
}

#menu-menu-principal li:hover {
  border-style: solid;
  border-top: none;
  border-left: none;
  border-radius: 0 0 7px;
  border-color: #FF7F11;
}

#menu-menu-principal li:hover a {
  color: #FF7F11;
  font-weight: 700;
}

input.search-field {
  border-radius: 13px;
  border-style: solid;
  border-color: #FF7F11;
  border-width: 3px;
}

.connexion-inscription a:hover {
  color: #ffffff;
}

.connexion-inscription a {
  text-decoration: none;
  color: #FF7F11;
  font-weight: 600;
}

.annonces {
  background: #FF7F11;
  color: #ffffff;
  padding: 1px;
  display: flex;
  justify-content: center;
}

.annonces p {
  margin: 1rem;
}

.newsletter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #0077B6;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.newsletter .partie-gauche {
  display: flex;
  align-items: center;
}

.newsletter .partie-gauche .texte-newsletter h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #ffffff;
}

.newsletter .partie-gauche .texte-newsletter p {
  font-size: 16px;
  margin: 0;
  color: #ffffff;
}

.newsletter .partie-droite {
  display: flex;
  align-items: center;
}

.newsletter .partie-droite .newsletter-form {
  display: flex;
  align-items: center;
}

.newsletter .partie-droite .newsletter-form input[type=email] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
  box-sizing: border-box;
  width: 350px;
}

.newsletter .partie-droite .newsletter-form button {
  background-color: #FF7F11;
  color: #ffffff;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.newsletter .partie-droite .newsletter-form button:hover {
  background-color: #003552;
}

.footer {
  margin: 0 !important;
  padding: 20px;
  background-color: #003552;
}

.infos-generales p {
  color: #ffffff;
  margin-top: 5px;
}

.infos-generales ul {
  padding: 8px;
}

.infos-generales li {
  color: #ffffff;
  list-style-type: none;
}

.infos-generales li a {
  color: #FF7F11;
  font-weight: 500;
}

.infos-generales li::before {
  content: "-";
  margin-right: 5px;
}

.copyright {
  background-color: #3b3b3b;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.copyright .left {
  font-size: 14px;
}

.copyright .right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.copyright .right img {
  width: 50px;
  margin-left: 10px;
  border-radius: 5px;
}

/*# sourceMappingURL=style.css.map */